.Toastify__toast {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    justify-items: center;
    align-items: center;
}

.Toastify__toast-body {
    align-items: center;
    grid-column: 1/10;
}

.Toastify__close-button {
    margin: 0;
    grid-column: 10/13;
    align-self: center;
}

:root {
    --toastify-color-success: #FCB016;
}

.flag-section {
    grid-column: 1/9;
}

.dice-section {
    grid-column: 10/19;
}

.flag {
    width: 50px;
    height: 50px;
    color: #FCB016;
}

.dice {
    width: 50px;
    height: 50px;
}

.party-icon-section {
    margin-top: 30px;
    padding: 20px;
    width: 85%;
    background-color: rgba(17, 17, 17, 0.7);
    border-radius: 20px;
    border: solid 2px #FCB016;
    display: grid;
    align-items: center;
    justify-items: center;
}

.finish-voting-btn {
    position: fixed;
    bottom: 25px;
    width: 90%;
    z-index: 100;
    margin-left: 5%;
    margin-right: 5%;
}

.ready-btn {
    position: fixed;
    bottom: 40vh;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    text-align: center;
    left: 35vw;
    justify-self: center;
    z-index: 100;
}

.collection-content-other {
    box-sizing: border-box;
    grid-column: 1/18;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: start;
    column-gap: 15px;
    row-gap: 20px;
    margin-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

.item-section {
    width: 100%;
    height: 100%;
    column-count: 1;
    display: grid;
    font-weight: bold;
    align-items: center;
    justify-items: center;
    position: relative;
}

.winner {
    width: 100%;
    grid-column: 1/3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    position: relative;
    z-index: 100;
}

.winner-img {
    height: auto;
    width: 85%;
    grid-column: 1/4;
    border: #FCB016 solid 5px;
    border-radius: 22px;
    animation: zoomWinner .8s ease-in-out;
}

.winner-title {
    grid-column: 1/4;
    width: 100%;
    text-align: center;
    font-size: 14pt;
    color: white;
    font-weight: bold;
    margin-bottom: 0;
}

.winner-banner {
    grid-column: 1/4;
    width: 100%;
    text-align: center;
    font-size: 21pt;
    color: #FCB016;
    margin: 0;
    margin-bottom: 20px;
}

.winner-divider {
    grid-column: 1/4;
    width: 100%;
    height: 4px;
    background-color: #FCB016;
    margin-top: 50px;
    margin-bottom: 0px;
    border-radius: 10px;
}

.sub-title-where-to-watch {
    grid-column: 1/4;
    width: 100%;
    text-align: center;
    font-size: 18pt;
    color: #FCB016;
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 0px;
}

.sub-title-runners-up {
    grid-column: 1/4;
    width: 100%;
    text-align: center;
    font-size: 18pt;
    color: #FCB016;
    font-weight: 300;
    margin-bottom: 15px;
    margin-top: 0;
    font-weight: bold;
}

.runner-up-section {
    grid-column: 1/4;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 30px 30px 70px 30px;
    background-color: rgb(39 39 39 / 88%);
    margin-top: 40px;
    border-radius: 20px;
    align-items: center;
    justify-items: center;

}

.runner-up {
    text-align: center;
    grid-column: 1/4;
    font-size: 10pt;
    margin: 0;
}

.runner-up-watchable {
    grid-column: 1/4;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
    row-gap: 10px;
    align-items: start;
}

.runner-up-watchable-item {
    display: grid;
    align-items: center;
    justify-items: center;
}

.runner-up-watchable-img {
    width: 100%;
    border-radius: 10px;
}

.runner-up-super-choice {
    position: absolute;
    width: 15%;
}

.runner-up-active-title {
    grid-column: 1/4;
    margin-top: 10px;
    font-size: 16pt;
    text-align: center;
}

.runner-up-providers-loading {
    text-align: center;
    grid-column: 1/4;
    margin-top: 20px;
    margin-bottom: 50px;
}

.providers-list {
    grid-column: 1/4;
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    align-content:center;
    align-items:center;
    padding-bottom: 50px;
}

.details-provider-list {
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    align-content:center;
    align-items:center;
    grid-column: 2/17;
    animation: appear .5s ease-in-out;
}

.provider-img {
    width: 100%;
    border-radius: 15px;
    flex: 0 1 auto;
    align-self:center;
    width: 60px;
    padding: 5px;
}

.details-provider-title {
    grid-column: 3/16;
    width: 100%;
    margin-top: 20px;
    color: #FCB016;
    font-weight: bold;
    text-align: center;
}

.details-provider-seperator {
    grid-column: 2/17;
    width: 100%;
    height: 2px;
    background-color: #5c5c5c;
}

.providers-not-available {
    grid-column: 2/17;
    width: 100%;
    margin-top: 10px;
    text-align: center;
}

.super-choice-star {
    color: #FCB016;
}

.item-img {
    height: auto;
    width: 100%;
    grid-column: 1/4;
    display: grid;
    align-items: end;
    border-radius: 10px;
    align-self: baseline;
}

.item-votes {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    background-color: rgba(17, 17, 17, 0.877);
    color: black;
    background-color: #FCB016;
    border-radius: 50%;
    padding: 5px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-temp-super-choice {
    position: absolute;
    width: 80px;
    height: 80px;
    opacity: .9;
    animation: zoom .5s ease-in-out;
}

.item-super-choice {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 5px;
    left: 10px;
}

.votes-needed-section {
    grid-column: 4/15;
    width: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 20px;
}

.votes-needed-section p {
    grid-column: 1/3;
    width: 100%;
    text-align: center;
    font-weight: bold;
    color: #FCB016;
    font-size: 14pt;
    margin: 0;
}

.votes-needed-section input {
    width: 30%;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: rgba(17, 17, 17, 0.877);
    color: #FCB016;
    text-align: center;
    font-weight: bold;
    grid-column: 1/3;
    margin-top: 10px;
    font-weight: bold;
    font-size: 16pt;
}

.guest-banner {
    grid-column: 4/19;
    width: 90%;
    height: 4px;
    justify-self: right;
    border-radius: 10px 0px 0px 10px;
    background-color: #FCB016;
}

.ready-overlay {
    position: fixed; /* Sit on top of the page content */
    width: 100vw; /* Full width (cover the whole page) */
    height: 100vh; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    display: grid;
    justify-items: center;
    align-items: center;
    align-content: center;
}

.ready-text {
    margin: 0;
}

.waiting-text {
    margin-bottom: 0;
}

.waiting-text-cancel {
    font-size: 10pt;
    margin-bottom: 30px;
    color: rgb(167, 167, 167);
}

.random-selected-dice {
    grid-column: 1/18;
    width: 30%;
    animation: shake-base 1s ease-in-out;
    transform-origin: top;
}

.flag-selected {
    grid-column: 1/18;
    width: 30%;
    animation: flip-flag 1.5s linear;
    transform-origin: top;
}

.finished-title {
    grid-column: 1/18;
    width: 100%;
    text-align: center;
    font-size: 18pt;
    color: #FCB016;
    font-weight: bold;
    margin-top: 20px;
}

#export-section {
    grid-column: 3/16;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.collection-created {
    grid-column: 2 / 17;
    text-align: center;
    margin: 40px 0px 10px 0px;
}

.collection-saving {
    grid-column: 1 / 18;
    margin-top: 40px;
}

@keyframes shake-base {
    0% {
      transform: translateX(0px);
    }
    10% {
      transform: translateX(-5px);
    }
    20% {
      transform: translateX(5px);
    }
    30% {
      transform: translateX(-5px);
    }
    40% {
      transform: translateX(5px);
    }
    50% {
      transform: translateX(-5px);
    }
    60% {
      transform: translateX(5px);
    }
    70% {
      transform: translateX(-5px);
    }
    80% {
      transform: translateX(5px);
    }
    90% {
      transform: translateX(-5px);
    }
    99% {
      transform: translateX(0px);
    }
    100% {
      display: none;
    }
  }

  @keyframes flip-flag {
    30% {
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
    }
    60% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
    99% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
    100% {
      display: none;
    }
  }

  @keyframes zoom {
    0% {
      transform: scale(0);
    }
    80% {
      transform: scale(1);
    }
    90% {
      transform: scale(.9);
    }
    100% {
      transform: scale(1);
    }
  }

  @keyframes zoomWinner {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }

  @keyframes appear {
    0% {
      transform: scaleY(0);
      transform-origin: top;
    }
    100% {
      transform: scaleY(1);
      transform-origin: top;
    }
  }

@media only screen and (min-width: 700px) {
    .collection-content-other {
        grid-template-columns: repeat(3, 1fr);
    }

    .winner {
        width: 100%;
        grid-column: 1/4;
    }

    .winner-img {
        width: 50%;
    }

    .finish-voting-btn {
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
    }
}

@media only screen and (min-width: 900px) {

    .flag-section {
        grid-column: 4/9;
    }
    
    .dice-section {
        grid-column: 10/15;
    }

    .collection-content-other {
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 30px;
    }

    .winner {
        width: 100%;
        grid-column: 1/6;
    }

    .winner-img {
        width: 30%;
    }

    .game-img {
        width: 90%;
    }

    .game-img + p {
        width: 90%;
    }

    .runner-up-section {
        width: 70%;
    }

    .runner-up-watchable {
        grid-template-columns: repeat(5, 1fr);
        width: 80%;
    }

    .runner-up-super-choice {
        width: 10%;
    }

    .providers-list {
        width: 60%;
    }

    .random-selected-dice {
        width: 10%;
    }

    .flag-selected {
        width: 10%;
    }
}